<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.xiaobaicz.safe">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity-alias
            android:name="Main"
            android:targetActivity=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="View"
            android:targetActivity=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

    </application>

</manifest>